/vendor/
composer.lock

system/
user_guide/

contributing.md
license.txt
readme.rst
.editorconfig

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

nbproject/
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db
